@font-face {
  font-family: 'robotoblack';
  src: url('/fonts/roboto-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displayblack';
  src: url('/fonts/playfairdisplay-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hammersmith_one';
  src: url('/fonts/hammersmith-one-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}