.our-story-section {
  padding: 60px 0;

  .our-story {
    display: flex;
  }

  .our-story-left {
    margin-right: 100px;
    width: 27%;
  }

  .our-story-pic {
    align-items: flex-end;
    width: 235px;
    height: 229px;
  }

  .our-story-left img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .our-story-right {
    width: 70%;
    text-align: left;

    h3 {
      color: #413d4b;
      font-family: 'playfair_displayblack', sans-serif;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 28px;
    }

    p {
      opacity: 0.75;
      color: #413d4b;
      font-family: 'robotoblack', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
}